

#menu .menu nav,
#hero .hero,
#hero .container,
#card .container,
#footer footer
{
    min-width: 480px;
    max-width: 1250px;
}

/*-------------------- media menu -------------------*/
@media only screen and (max-width: 992px) 
{
    #menu .customLogin{
       margin-top: 10px;
       display: inline;
    }

    #menu .customLogin a{
        margin-top: 10px;
    }

    #menu .custom-menu-ul li{
        display: flex;
        width: 100%;
    }
}

/*-------------------- media hero -------------------*/

@media only screen and (max-width: 768px) 
{

    #hero .hero{
        position: relative;
        height: 150px;
    }

    #hero .custom-hero-row{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

   #hero .input-group-text,#hero .input-group select{
    height: 30px;
    font-size: small;
   }

   #hero .input-group.right input,#hero .input-group.right button{
      height: 30px;
      font-size: small;
   }
    
}

/*------------------------------------- media card -----------------------------*/


@media only screen and (max-width: 896px)
{
    #card h3{
        font-size:large;
    }
}

@media only screen and (max-width: 768px){
    #card h3,
    #card h5
    {
        font-size:large;
    }

    #card #listCard .custom-box-card{
        width: 50%;
    }

    #card p,
    #card a{
        font-size: small;
    }

}

@media only screen and (max-width: 565px)
{
    #card h3,
    #card h5
    {
        font-size: small;
    }

    #card p,
    #card a{
        font-size: x-small;
    }
}

/*---------------------------------- media footer ------------------------*/

@media only screen and (max-width: 768px)
{
    
    #footer footer p,
    #footer i
    {
        display: none;
    }

    #footer footer ul li
    {
        font-size: small;
    } 

    #footer .custom-footer-bot .row ul li{
        font-size: x-small;
    }
}